[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
requests = "*"
django-extensions = "*"
pydotplus = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
